@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Aplikasi POS / Kasir</h1>
        <h3 class="display-4">Penjualan Semen</h3>
        <p>By : Aloisius Bagas</p>
    </div>

<hello-world></hello-world>
